<div ng-controller="editInstrumentCtrl">
	<div>
			<form>
				<div class="form-group">
					<label for="a1">Naziv</label> <input type="text"
						class="form-control" id="a1" ng-model="oldInstrument.naziv">
				</div>
				<div class="form-group">
					<label for="c1">Cena</label> <input type="text"
						class="form-control" id="c1" ng-model="oldInstrument.cena">
				</div>
				<div class="form-group">
					<label for="d1">Količina</label> <input type="text"
						class="form-control" id="d1" ng-model="oldInstrument.kolicina">
				</div>
				<div class="form-group">
					<label for="b1">Pripada kategoriji</label> <select id="b1"
						class="form-control"
						ng-model="oldInstrument.kategorijaId">
						<option ng-repeat="x in kategorija" value="{{x.id}}">
							{{x.naziv}}
						</option>
					</select>
				</div>
				
				<button class="btn btn-primary" ng-click="edit()">Sačuvaj</button>
				<button class="btn btn-primary" ng-click="getInstrumentbyId()">Revert</button>
			</form>
		</div>
</div>